.modal {
  position: fixed;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
  width: 90%;
  height: calc(100% - 9rem);
  background-color: #fff;
  display: none;
  overflow-y: scroll;
  scrollbar-width: thin;
  border-radius: 0.25rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @include breakpoint-up(medium) {
    width: 80%;
  }
  @include breakpoint-up(large) {
    max-width: 80rem;
  }

  &.open {
    display: block;
    padding: 0 !important;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
  overflow: hidden;

  &.open {
    display: block;
  }
}
