.modal {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
  width: 90%;
  height: 100%;
  background-color: #fff;
  display: none;
  overflow-y: scroll;
  scrollbar-width: thin;
  border-radius: 0.25rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @include breakpoint-up(medium) {
    top: 10%;
    width: 80%;
    height: 80%;
  }
  @include breakpoint-up(large) {
    max-width: 80rem;
  }

  &.open {
    display: block;
    padding: 0 !important;
  }
}
