.modal {
  position: fixed;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  z-index: 12;
  width: 94%;
  height: 70%;
  background-color: #fff;
  display: none;
  overflow-y: scroll;
  scrollbar-width: thin;
  border-radius: 0.25rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @include breakpoint-up(medium) {
    width: 80%;
    left: 10%;
  }
  @include breakpoint-up(large) {
    width: 80%;
    left: 10%;
  }
  &.open {
    display: block;
    padding: 0 !important;
  }
}
