.userInfo {
  &__wrapper {
    width: 100%;
    max-width: 800px;
    min-width: 500px;
    margin: 0 auto;
  }

  &__password {
    &-wrapper {
      visibility: hidden;
      opacity: 0;
      transform: translateX(50%);
      transition: all 0.3s ease-in-out;
      > input {
        display: block;
      }
      &.show {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
.userInfoItem {
  margin: 0 auto;

  &__title {
    text-transform: uppercase;
    font-size: 0.9375rem;
    font-weight: 400;
    color: $darkBlue;
    margin: 1.875rem 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
      color: $indianred;
    }
  }
  &__content {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    &.show {
      height: auto;
      opacity: 1;
      visibility: visible;
      padding: 1.25rem;
    }
    > h4 {
      text-align: center;
      color: $darkBlue;
      font-weight: 400;
    }
  }
}
.wishlist {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  &__wrapper {
    padding: 1.25rem;
    height: 50vh;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 1.875rem;
  }
  &__clearItems {
    padding: 1.25rem;
  }
  &-item {
    display: block;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    @include breakpoint-up(medium) {
      & {
        display: grid;
        grid-template-columns: auto 1fr auto;
        column-gap: 1.25rem;
        align-items: center;
        justify-content: center;
      }
    }
    &__removeIcon {
      display: none;
      cursor: pointer;
      @include breakpoint-up(medium) {
        display: block;
      }
    }
    &__removeText {
      cursor: pointer;
      @include breakpoint-up(medium) {
        display: none;
      }
    }
    &__detail {
      margin-bottom: 0.675rem;
      color: $darkBlue;
      img {
        height: 225px;
        width: 100%;
        margin-bottom: 0.675rem;
        cursor: pointer;
      }
      h4 {
        text-transform: capitalize;
        font-size: 13px;
      }
      p {
        font-weight: 400;
        font-size: 13px;
      }
      @include breakpoint-up(medium) {
        & {
          display: flex;
          text-align: left;
          img {
            width: 200px;
            height: 100px;
            margin-right: 1.25rem;
          }
          h4,
          p {
            margin-bottom: 0.675rem;
            font-size: 15px;
          }
        }
      }
    }
    button {
      width: 100%;
      margin-bottom: 0.675rem;
      @include breakpoint-up(medium) {
        align-self: center;
        justify-self: center;
      }
    }
  }
}
